<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Mac_Comport" value="COM9" />
    <add key="Mac_BaudRate" value="57600" />
    <add key="Mac_DelayMs" value="1000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>