{% extends "layout.html" %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between mb-4">
    <div class="w-50">
        <h3>RadioButton</h3>
        <form action="{{ url_for('RadioButtonSubmit') }}" method="post">
            <div class="form-group">
                <div>
                    <label>
                        <input type="radio" name="RadioButtonSelectedOption" value="A" {% if RadioButtonSelectedOption=="A" %}checked{% endif %}> A
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="RadioButtonSelectedOption" value="B" {% if RadioButtonSelectedOption=="B" %}checked{% endif %}> B
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="RadioButtonSelectedOption" value="C" {% if RadioButtonSelectedOption=="C" %}checked{% endif %}> C
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="w-50">
        <h3>Checkbox</h3>
        <form action="{{ url_for('CheckboxSubmit') }}" method="post">
            <div class="form-group">
                <div>
                    <label>
                        <input type="checkbox" name="CheckboxSelectedOptions" value="A" {% if "A" in checkboxSelectedOptions %}checked{% endif %}> A
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="CheckboxSelectedOptions" value="B" {% if "B" in checkboxSelectedOptions %}checked{% endif %}> B
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="CheckboxSelectedOptions" value="C" {% if "C" in checkboxSelectedOptions %}checked{% endif %}> C
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="d-flex justify-content-between mb-4">
    <div class="w-50">
        <h3>TextBox</h3>
        <form action="{{ url_for('TextboxSubmit') }}" method="post">
            <div class="form-group">
                <input type="text" id="textValue" name="TextboxValue" class="form-control" style="width: 200px;" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="w-50">
        <h3>DropDown</h3>
        <form action="{{ url_for('DropDownSubmit') }}" method="post">
            <div class="form-group">
                <select id="selectedOption" name="DropDownSelectedOption" class="form-control" style="width: 200px;">
                    <option value="A">A</!option>
                    <option value="B">B</!option>
                    <option value="C">C</!option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="mb-4">
    <label for="volume">Volume:</label>
    <input type="range" id="volume" min="0" max="100" value="50" step="1" oninput="updateLabel(this.value)">
    <span id="volumeValue">50</span>
</div>

<script>
    function updateLabel(value) {
        document.getElementById("volumeValue").innerText = value;
    }
</script>

<div class="mb-4">
    <h3>RichTextbox</h3>
    <textarea id="richTextValue" name="RichTextValue" rows="10" cols="50" class="form-control">{{RichTextboxValue}}</textarea>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.addEventListener("keydown", function (event) {
            console.log("Press Key: " + event.key);
            if (event.key === "Enter") {
                alert("Enter!");
            }
        });
    });
</script>

{% endblock %}
